
# The base URL for the site.
#BASE_URL=http://localhost:8080
# If you want to run the tests in slow motion. 1 for yes, 0 for no.
#SLOW_MO=0
# If you want to record a video of the process. 1 for yes, 0 for no.
#VIDEO=0
# If you want to run with the same parameters as the CI (Continious integration) tests in the Playwright config. 1 for yes, 0 for no.
#CI=0
# API Key and secret to use. Either generate a set of keys for your site, or install the WP API Basic Auth plugin
#CONSUMER_KEY=admin
#CONSUMER_SECRET=password
# Login credentials for the site, has to have admin access.
#ADMIN_USERNAME=admin
#ADMIN_PASSWORD=password
# Klarna credentials to use, will be applied to the SE settings for now.
KLARNA_API_USERNAME=username
KLARNA_API_PASSWORD=password
