/* Addon grid boxes */
@media screen and (max-width: 659px) {
    .checkout-addon {
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 660px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
    }
}
@media screen and (min-width: 1130px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
    }
}

.checkout-addons-wrap {
    max-width: 1400px;
    box-sizing: border-box;
}

/* Style */
/*
.checkout-addons-heading {
    background: #EB6F93;
    color: #fff;
    min-height: 120px;
    margin-left: -20px;
    margin-bottom: 20px;
    padding:20px;
}
.checkout-addons-heading h1 {
    color: #fff;
    margin-top: 0;
}
*/
.checkout-addons-heading h1 {
    margin: 1.0em 0;
}
.checkout-addons-banner-block {
    background: #fff;
    border: 1px solid #ddd;
    padding: 2em 2em 1em;
    margin-bottom: 20px;
}
.checkout-addons-banner-block hr {
    margin: 25px 0;
}
.checkout-addon {
    border: 1px solid #ddd;
    position: relative;
    background: #fff;
    border-radius: 3px;
    padding-bottom: 100px;
}
.checkout-addon-icon {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    max-width: 125px;
}
.checkout-addon-title {
    margin: 20px;
}
.checkout-addon-excerpt {
    margin: 20px;
}
.checkout-addon-footer {
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.coming-soon .checkout-addon-footer {
    display: none;
}
.checkout-addon.coming-soon {
    opacity: 0.5;
}
.checkout-addon-status {
    float: left;
}
.checkout-addon-action {
    float: right;
}
.inside-wrapper {
    padding: 20px;
}
.inside-wrapper:after,
.checkout-addon:after {
    content: "";
    display: table;
    clear: both;
}

/* Buttons */
.wp-core-ui .checkout-addon .button {
    height: 32px;
}
@media screen and (min-width: 784px) {
    .wp-core-ui .checkout-addon .button {
        line-height:30px;
    }
}
span.checkout-addon-status {
    line-height: 30px;
}

/* Acivate/deactivate toggle */
/* The switch - the box around the slider */
.checkout-addon .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
    margin-right: 8px;
}
.checkout-addon .switch.download {
    width: auto;
}
/* Hide default HTML checkbox */
.checkout-addon .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.checkout-addon .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.checkout-addon .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkout-addon [data-status="activated"] .slider {
    background-color: #7cc048;
}
  
.checkout-addon input:focus + .slider {
    box-shadow: 0 0 1px #7cc048;
}
  
.checkout-addon [data-status="activated"] .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.checkout-addon .slider.round {
    border-radius: 34px;
  }
  
.checkout-addon .slider.round:before {
    border-radius: 50%;
}

/* Remove all admin notices on addon page */
.update-nag, 
.updated, 
.error, 
.is-dismissible,
.notice { 
    display: none; 
}

.addon-error {
	color: red;
	margin-left: 20px;
}