@font-face {
	font-family: Klarna;
	src: url("../fonts/KlarnaSans-Regular.otf") format("opentype");
}

@font-face {
	font-family: KlarnaHeadline;
	font-weight: bold;
	src: url("../fonts/KlarnaHeadline-Bold.otf") format("opentype");
}

/* Banner */

#kb-spacer {
	height: 60px;
}

.kb-new-container{
	background-color: #FFB3C7;
	display: flex;
	margin: 0px !important;
	padding: 20px 2% 30px 2% !important;
}
.kb-left-group{
	width: 50%;
}
.kb-middle-group{
	width:25%;
	display:grid;
	grid-template-rows: 25% 25% 25% 25%;


}
.kb-right-group{
	width:25%;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

/*Left*/
.container-title {
	font-size: 94px;
	font-weight: bold;
	font-family: KlarnaHeadline, sans-serif;
	width:100%;
	margin-bottom:38px;
}

.container-main-text{
	font-size: 21px;
	font-weight:300;
	letter-spacing:0.3px;
	width:80%;
	line-height: 1.3;
	color: black;
}

/* Middle */


.kb-button{
	font-size: 24px;
	letter-spacing:0.9px;
	padding:20px 35px 20px 35px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
}

#left-main-title{
	color: #000000;
	font-size: 4em;;
	margin:15px 0px 30px 0px;
}

#left-main-text {
	font-size: 1rem;
}

#kb-button-left-frame{
	grid-row: 2;
		align-self:center;
		margin-bottom: 20px !important;
}
#kb-button-go-live-frame{
	grid-row: 3;
	align-self:center;
	margin-top: 40px;
}


#kb-button-left{
	background-color: black;
	color: white;
	font-size: 1.5em;
}
#kb-button-go-live{
	color: black;
	background-color: white;
	font-size: 1.5em;
}

#klarna-logo-left-frame{
	display: flex;
justify-content: flex-end;
}

/* Other */
.klarna-logo-img{
	z-index: 1;
}

#klarna-logo-left{
	max-height: 40px;
	max-width: 180px;
}

/* Main content */

#klarna-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

#klarna-main {
	width: 70%;
	float: left;
	padding: 0 2% 0 0;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}

/* Sidebar  */

#klarna-sidebar {
	width:  350px;
	margin-left: 20px;
	float: left;
	box-sizing: border-box;
	text-align: center;
	font-family: Klarna, sans-serif;
	background-color: #FFB3C7;
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}


.kb-sidebar-section{
	max-width: 85%;
	display:flex;
	flex-direction: column;

}

#kb-sidebar-title{
	font-size: 2em !important;
	font-weight: bold;
	font-family: KlarnaHeadline, sans-serif;
	text-align: start;
	width:100%;
	margin-bottom:10px;
}


.kb-sidebar-content{
	display: flex;
	flex-direction: column;
}

#kb-sidebar-main-text{
	text-align: start;
	font-size: 1.5em !important;
	letter-spacing:0.2px;
	width:95%;
	line-height: 1.4;
}
#sidebar-link-holder{
	text-align: start;
}

#kb-sidebar-button-left{
	font-size: 20px;
	color: black;
	text-decoration: none;
	padding: 0px !important;
	border-bottom: 3px solid black !important;
	font-weight: bolder;
}

#kb-sidebar-bottom-holder{
	background-color: #000000;
	padding: 5px 10px 10px 10px;
	margin-top: 80px;
	display:flex;
	align-self:flex-end;
	flex-direction: column;
}

#kb-sidebar-logo-follow-up-text{
align-self: flex-start;
color: #ffffff;
margin: 5px 0px 5px 0px !important;
word-spacing: 0.3em;
font: 1em sans-serif;
}

#kb-sidebar-klarna-logo-left{
	margin:0px !important;
	height:20px;
	width:auto;
}

#klarna-sidebar h3 {
	font-family: KlarnaHeadline, sans-serif;
	font-size: 24px;
	line-height: 1.2;
}

#klarna-sidebar p {
	margin-bottom: 1.5em;
}

#klarna-sidebar img {
	display: inline-block;
	margin: 0 5px;
}

.save-separator {
	clear: both;
}

#krokdocs-sidebar {
	width:  350px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
	box-sizing: border-box;
	text-align: left;
	font-family: Roboto, sans-serif;
	background-color: #f5f5f5;
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.krokdocs-sidebar-section{
	max-width: 85%;
	display:flex;
	flex-direction: column;
}

#krokdocs-sidebar-title{
	font-size: 1.5em !important;
	font-weight: bold;
	font-family: Roboto, sans-serif !important;
	text-align: start;
	width:100%;
	margin-bottom:0px;
}

.krokdocs-sidebar-content{
	display: flex;
	flex-direction: column;
}

#krokdocs-sidebar-main-text{
	text-align: start;
	font-size: 1.1em !important;
	letter-spacing:0.2px;
	width:95%;
	line-height: 1.4;
	margin-top: 5px;
}

#krokdocs-sidebar-button-left{
	font-size: 20px;
	color: black;
	text-decoration: none;
	padding: 0px !important;
	border-bottom: 3px solid black !important;
	font-weight: bolder;
}

#krokdocs-sidebar-bottom-holder{
	padding: 5px 10px 10px 10px;
	margin-top: 10px;
	align-self:flex-end;
	flex-direction: column;
}

#krokdocs-sidebar-krokedil-logo-right{
	margin:0px !important;
	height:20px;
	width:auto;
}

#krokdocs-sidebar-logo-follow-up-text{
	align-self: flex-start;
	color: #000000;
	margin: 5px 0px 5px 0px !important;
	font: 1em sans-serif;
	}


/*--- Dismiss button -----*/

#kb-dismiss-close-icon {
	position: absolute;
	top: 65px;
	right: 20px;
}

#kb-dismiss-close-icon:hover {
	color: #eb6f93;
	cursor: pointer;
}

#klarna-settings-logo {
	display: block;
	margin: 20px 0;
}

/* ----- MOBILE VIEW ----- */

@media (hover: none) and (max-width:700px){

/* Main container */
.kb-spacer{
	display:none;
}

.kb-new-container{
	display: grid;
	height: auto !important;
	width:calc(100% - 25px) !important;
	margin-top:35px !important;

}

.kb-left-group{
	width: 100%;
}

.kb-right-group{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
}


.kb-small-container{
	padding: 0px 30px;
}

/*Left*/
.container-title {
	font-size: 56px;
	font-weight: bold;
	width:100%;
	margin-bottom:10vh;
}

.container-main-text{
	font-size: 17px;
	font-weight:300;
	letter-spacing:0.5px;
	width:100%;
}

.kb-button{
	font-size: 22px;
	letter-spacing:0.9px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 30px !important;
}

#kb-button-left{
	background-color: black;
	color: white;
	padding:10px 25px 10px 25px;
}

#kb-button-go-live{
	font-size: 18px;
	font-weight: 700;
	color: black;
	background-color: unset !important;
	padding: 0px !important;
	margin-left: 5px;
	border-bottom: 3px solid black !important;
}

#klarna-logo-left-frame{
display:unset;
align-self: center;
margin-top: 40px;
margin-right:20px;
}

/* Other */
.klarna-logo-img{
	z-index: 1;
}

#klarna-logo-left{
	height: 30px;
}

#klarna-main{
	border: none;
	margin-bottom:30px !important;
}

	/* Mobile Sidebar */


	#klarna-sidebar {
		width: 95vw !important;
		max-width: unset;

		margin-left: 0px;
		float: none;
		box-sizing: border-box;
		text-align: unset;
		font-family: Klarna, sans-serif;
		background-color: #FFB3C7;
		display: flex;
		justify-content: unset;
		padding: 20px 0px;
	}


	.kb-sidebar-section{
		/* padding:30px; */

		width:unset;
		max-width: unset;
		display:flex;
		flex-direction: column;
		margin: 0px 10px;

	}
}
/* --- END --- Mobile View*/



.wc-settings-sub-title a, .wc-settings-sub-title a:hover, .wc-settings-sub-title a:click, .wc-settings-sub-title a:visited, .wc-settings-sub-title a:focus {
	border:none;
	outline:none;
	text-decoration:none;
	color:black;
}

div.kco-message.notice {
	border-left-color: #bb2525!important;
	position: relative;
	overflow: hidden;
}

input.bad_credential {
	border-color: #bb2525!important;
}

/* fix for the footer */
#wpfooter{
	position: unset !important;
}
