name: Create Plugin Dev Zip

on:
  # Uncomment the push on any commit below to test the action easily.
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build_zip:
    uses: krokedil/krokedil-wp-ci/.github/workflows/create-plugin-dev-zip.yml@main
    with:
      aws_upload: true
    secrets:
      AWS_ACCESS_KEY_ID_KROKEDIL_PLUGIN_DEV_ZIP: ${{ secrets.AWS_ACCESS_KEY_ID_KROKEDIL_PLUGIN_DEV_ZIP }}
      AWS_SECRET_ACCESS_KEY_KROKEDIL_PLUGIN_DEV_ZIP: ${{ secrets.AWS_SECRET_ACCESS_KEY_KROKEDIL_PLUGIN_DEV_ZIP }}