name: KCO CI
on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  PHPCS:
    name: PHPCS
    runs-on: ubuntu-latest
    container:
      image: php:7.0.0-apache
    steps:
    - name: Settup repo
      uses: actions/checkout@v2
      with:
        path: main
    - name: Install Packages
      run: |
        echo "Update package lists."
        apt-get update
        echo "Install base packages."
        apt-get install -y build-essential libssl-dev gnupg libfreetype6-dev libjpeg62-turbo-dev libmcrypt-dev libicu-dev libxml2-dev vim wget unzip
    - name: Install Composer
      run: |
        echo "Install composer."
        curl -sS -k https://getcomposer.org/installer | php 
        mv composer.phar /usr/local/bin/composer
    - name: Install PHPCS with WordPress Coding Standards
      run: |
        composer global require woocommerce/woocommerce-sniffs
    - name: Run PHPCS Coding Standards
      run: |
          ~/.config/composer/vendor/bin/phpcs main --standard=WordPress --extensions=php --ignore=/tests
