name: Plugin asset/readme update
on:
  push:
    branches:
      - master
jobs:
  plugin_meta:
    uses: krokedil/krokedil-wp-ci/.github/workflows/get-plugin-meta.yml@v1

  trunk:
    name: Push to trunk
    runs-on: ubuntu-latest
    needs: plugin_meta
    steps:
      - uses: actions/checkout@master
      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: ${{ needs.plugin_meta.outputs.plugin_slug }}
